%footer
	.row
		.columns.large-3
			%h4
				=fa_icon("question-circle") 
				PREGUNTANOS!
			%ul
				%li
					%a Preguntas frecuentes de los usuarios
				%li 
					%a Preguntas frecuentes de los comercios
		.columns.large-3
			%h4 
				=fa_icon("institution") 
				INFORMACIÓN LEGAL
			%ul
				%li
					%a Terminos de uso
				%li
					%a Privacidad
		.columns.large-3
			%h4 
				=fa_icon("envelope") 
				CONTÁCTANOS
			%ul
				%li
					%a{"href"=>"#{Rails.application.config.url_registro_entidad }"} Sugiere un Restaurante
				%li
					%a Contáctanos
		.columns.large-3			
			%ul.inline-list
				%li=fa_icon "facebook 3x"
				%li=fa_icon "twitter 3x"
	.row
		%hr
		=@nombre_sitio