%header
	.row.text-center
		%h1.slogan PIDE TU COMIDA FAVORITA ONLINE
	.row.pasos
		.large-4.medium-4.columns 
			%span.pasos 1) Busca tu restaurante favorito
		.large-4.medium-4.columns
			%span.pasos 2) Pide lo que quieras de la carta
		.large-4.medium-4.columns
			%span.pasos 3) Haz tu delivery y paga en casa
	.row
		.large-1.medium-1.columns .
		.large-3.medium-3.columns.detalle		
			%h3 DIRECTORIO
			%ul.no-bullet
				- @categorias.each do |categoria|
					%li=link_to(categoria.nombre,entidades_path)
				%li=link_to "Ver todos",:entidades
		.large-6.medium-6.columns.detalle
			#promociones-principales{"data-orbit"=>true}
				- @promociones.each do | promocion |
					= link_to( image_tag(promocion.avatar.url(:normal)), promocion.link )
								
		.large-2.medium-2.columns
.row
	.large-12.columns
		.recomendados
			%h3.text-center
				=fa_icon "cutlery"
				Recomendados
			.lista-entidades
				- @entidades.each do |entidad|
					=render "entidades/item_fila", entidad: entidad
					%hr
