- content_for :title do
  ="Restaurantes"
.row.minimum-page
  .large-12.columns
    .columns.large-12
      %h1.text-center 
        =fa_icon "cutlery"
        Restaurantes
      %hr
    .columns.large-12
    .lista-entidades
      - @entidades.each do |entidad|
        = render "entidades/item_fila", entidad: entidad
        %hr