#confirmacion-pedido.reveal-modal{"data-reveal"=>true}
  .row.ng-view
  %a.close-reveal-modal &#215;
.entidad{"ng-controller"=>"EntidadesController","ng-init"=>"entidad_id='#{@entidad.id}'"}
  .row
    .large-2.medium-2.columns.text-center
      %img.th{src: @entidad.avatar.url(:thumb)}
    .large-10.medium-10.columns
      %h1.nombre
        - if @usuario and @entidad.usuario_puede_editar?(@usuario)
          %a{href: edit_entidad_path( @entidad.id) }
            =fa_icon "cog"
        =@entidad.nombre
      %p=@entidad.descripcion
      %ul.atributos.inline-list
        %li
          .fa.fa-money="Pedido mínimo: {{#{@entidad.pedido_minimo} | moneda}}"
        %li
          .fa.fa-truck="Costo de envío: {{#{@entidad.costo_delivery} | moneda }}"

          
            

  // Lista de productos de la entidad
  .row
    .large-8.columns
      %h2
        =fa_icon "cutlery"
        La carta        
      %a.right{href: new_categoriaproducto_path(categoriaproducto: {entidad_id: @entidad.id})}
        =fa_icon "plus-square"
        nuevo grupo
      .clearfix  
      /Acepta o no pedidos
      - if @entidad.delivery_habilitado 
        %span.success.full-width Está aceptando pedidos ahora
      - else
        %span.alert.full-width Este restaurant no está aceptando pedidos por ahora.

      .catergoriaproducto{'ng-repeat' => 'categoria in entidad.categoriaproductos'}
        %h3
          
          - if @usuario and @entidad.usuario_puede_editar?(@usuario)
            %a{href: '/categoriaproductos/{{categoria.id}}/edit'}
              =fa_icon 'cog'
          {{categoria.nombre}}
        %img{src: "{{categoria.avatar_url}}"}
        /grilla de productos de la entidad
        %ul.large-block-grid-2.medium-block-grid-1.small-block-grid-1
          %li.producto{"ng-repeat" => "producto in categoria.productos","ng-if"=>"producto.visible!=false"}
            %span.precio.right.label.secondary.radius {{producto.precio | moneda}}
            %span
              // botones de administración de entidad
              - if @usuario and (@usuario.es_admin? or @entidad.usuario_puede_editar?(@usuario))
                %a{"ng-click"=>"eliminar_producto(producto)"}
                  =fa_icon "close"
                %a{href: "/productos/{{producto.id}}/edit"}
                  =fa_icon "edit"
                
              {{producto.nombre}}
            %p.descripcion {{producto.descripcion}}
            .clearfix
            
            - if @entidad.delivery_habilitado 
              %button.tiny{"ng-click"=>"agregar_producto(producto)"}
                =fa_icon "plus"
                AGREGAR A PEDIDO
            .clearfix

            
        - if @usuario and @entidad.usuario_puede_editar?(@usuario)
          %a.right{href: "/productos/new?categoriaproducto_id={{categoria.id}}&entidad_id={{entidad.id}}"} 
            =fa_icon "plus-circle"
            nuevo producto
          .clearfix


      %hr         
        

    // Lado lateral derecho
    .large-4.columns
      .pedido_temporal.panel        
        %h2 Mi pedido
        %ul.no-bullet
          %li{"ng-repeat"=>"detalle in pedido.detalles"}
            %div 
              .row
                .large-12.columns
                  %span.right{"ng-click"=>"quitar_producto(detalle)"}=fa_icon 'close'
                  %span.nombre {{detalle.nombre}}
                  %p {{detalle.descripcion}}
              .row
                .large-6.columns
                  .row.collapse
                    .small-6.columns
                      %span.prefix.cantidad
                        cantidad
                    .small-6.columns
                      %input.cantidad.small{"ng-change" => "cambio_cantidad(detalle);","type"=>"number","ng-model"=>"detalle.cantidad",size: 2}

                .large-6.columns
                  %span.right {{detalle.total | moneda}}
            %hr
        .total
          %span.right total: {{pedido.costo_total | moneda}}
        .clearfix
        %label
          Dirección de entrega(*):
          %em Ej. Av. José Olaya - San antonio.
          %input{'ng-model'=>'pedido.direccion_entrega',type: 'text',placeholder: "Dirección de entrega."}
        %textarea{placeholder: "Comentarios sobre mi pedido","ng-model"=>"pedido.comentario"}
        %button.button.success.expand{"data-reveal-id"=>"confirmacion-pedido","ng-disabled"=>"!es_pedido_valido()","ng-click"=>"confirmar_pedido();"} Hacer Pedido
    
- content_for :javascript do
  =javascript_include_tag :entidades